#header-main-page {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    width: 60%;
    padding: 1rem;
}

#header-logo-images {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
  
#header-logo {
  width: 200px;
  min-width: 100px;
}

#header-logo-name {
  width: 200px;
}

@media (max-width: 1150px) {
    #header-main-page {
        flex-direction: column;
    }
    
}