@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Montserrat:wght@600&display=swap');
@import 'colors.css';


body {
  background: var(--white);
  color: #232323;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

#content-new-project {
  display: flex;
  width: 60%;
  flex-direction: row-reverse;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  min-height: 100vh;
  width: 100%;
}

#content-new-project {
  display: flex;
  width: 100%;
  padding-bottom: 1.5rem;
  flex-direction: row-reverse;
}

#content-main-page {
  width: 60%;
}

.projects-container {
  min-height: 600px;
}

button {
  cursor: pointer;
  border: none;
}